<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="AdUserId" value="--- AD User Here ----" />
		<!-- Replace with your AD User-->
		<add key="AdPassword" value="---- AD User Password Here" />
		<!-- Replace with your AD User's password-->
		<add key="AdName" value="192.168.56.101" />
		<!-- Replace with your AD server url or ip-->
		<add key="AdContainer" value="CN=Users,DC=test,DC=domain,DC=com" />
		<!-- Replace with your container path-->
		<add key="Debug" value="true" />
	</appSettings>
	<system.net>
		<mailSettings>
			<smtp from="email@address.here">
				<!-- Replace with your mail settings-->
				<network host="email.host.here" />
			</smtp>
		</mailSettings>
	</system.net>
	<connectionStrings>
	</connectionStrings>
</configuration>